:root {
    --dark: #374151;
    --darker: #1F2937;
    --darkest: #111827;
    --gray: #6b7280;
    --light: #EEE;
    --pink: #EC4899;
    --purple: #8B5Cf6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'fira sans', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: var(--darkest);
    color: var(--light);
}

header {
    margin: 0 auto;
    max-width: 800px;
    width: 100%;
    padding: 2rem 1rem;
}

header h1 {
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
    color: var(--gray);
    margin-left: 1rem;
}

#new-task-form {
    display: flex;
}

input,
button {
    appearance: none;
    border: none;
    outline: none;
    background: none;
    color: var(--light);
}

#new-task-input {
    background-color: var(--pink);
    padding: 1rem;
    flex: 1 1 0%;
    border-radius: 1rem;
    margin-right: 1rem;
    margin-left: 1rem;
    color: var(--light);
    font-size: 1.15rem;
}

#new-task-input::placeholder {
    color: var(--gray);
}

#new-task-submit {
    color: var(--pink);
    font-size: 1.15rem;
    font-weight: 700;
    cursor: pointer;
    background-image: linear-gradient(to right, var(--pink), var(--purple));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    transition: 0.4s;
}

#new-task-submit:hover {
    opacity: 0.6;
}

main {
    padding: 2rem 1rem;
    flex: 1 1 0%;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

.task-list {
    padding: 1rem;
}

.task-list h2 {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--gray);
    margin-bottom: 1rem;
}

#tasks .task {
    background-color: var(--darker);
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
}

#tasks .task .content {
    flex: 1 1 0%;
}

#tasks .task .content .text {
    color: #8B5Cf6;
    font-size: 1.15rem;
    width: 100%;
    display: block;
    transform: 0.4s;
}

#tasks .task .content .text:not(:read-only) {
    color: var(--pink);
}

#tasks .task .actions {
    display: flex;
    margin: 0 -0.5rem;
}

.task .actions button {
    cursor: pointer;
    margin: 0 0.5rem;
    font-size: 1.125rem;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.4s;
    padding: 0.2rem;
}

.task .actions button:hover {
    opacity: 0.8;
}

.task .actions button:active {
    opacity: 0.6;
}

.task .actions .edit {
    background-image: linear-gradient(to right, var(--pink), var(--purple));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.task .actions .delete {
    color: crimson;
}